@font-face {
  font-family: 'Roboto';
  src: url('./fontes/Roboto-Thin.ttf');
}

* {
  font-family: 'Roboto', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, rgb(243, 144, 79), rgb(59, 67, 113));
}